[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = {version = "*"}
pyparsing = {version = "==2.0.3"}
future = {version = "*"}

[dev-packages]
pytest = {version = "~=7.1"}
pytest-cov = {version = "~=4.0"}
mock = {version = "~=4.0"}
freezegun = {version = "~=1.2"}
